{% extends 'base.html' %}
{% load static %}
    {% block body %}
    <br><br><br>
    <div class="container">
    {% if name %}
    <div class="card-columns">
    {%for question in name %}
    
    <div class="card" style="width: 18rem;">
        <img src="{{question.image.url}}" class="card-img-top" alt="IMAGE" height="300px" width="300px ">
        <div class="card-body">
          <p class="card-text">{{question.name}}</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    
    {%endfor%}
</div>
    
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
</div>

    {% endblock body%}
